
* {
    font-family: sans-serif;
}

header{
    background-color: rgb(138, 29, 29);
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
    position: relative;
}
.menu ul{
    display: inline-block;
    padding-left: 0px;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
}

header .menu ul{
    font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
    display: block;
}

.menu li:not(:last-child){
    border-bottom: 1px solid white;
}

.menu li{
    background-color: rgb(78, 78, 78);
    width: 200%;
    box-shadow: 3px 3px 10px black;
    padding: 10px;
}

.menu li:hover{
    background-color: rgb(167, 167, 167);
}

nav ul{
    margin-top: 0px;
    border-top: 1px solid white;
    list-style-type: none;
    padding-left: 0px;
    background-color: rgb(14, 14, 167);
}

.menu:hover ul{
    display: block;
}

.menu:hover{
    cursor: pointer;
    background-color: rgb(78, 78, 78);
}

.menu ul{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0px;
    display: none;
}

.menu{
    display: inline-block;
    background-color: rgb(14, 14, 167);
    color: white;
    border-right: 1px solid white;
    padding: 10px;
    position: relative;
    margin-left: 0;
}

tr:nth-child(even){
    background-color: rgb(189, 192, 196);
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
}

td:last-child{
    text-align: right;
}
th:first-child{
    text-align: left;
}

header .menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(78, 78, 78); 
    border-left: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
}

table{
    margin: 0px auto;
}

td{
    padding: 3px;
}

@media (max-width: 600px){

    nav{
        display: none;
    }

    header .menu{
        display: block;
    }

}