h1{
    font-family: sans-serif;
    color: rgb(255, 170, 0)
}

p{
    color: white;
    font-size: 25px;
}

.background{
    background-image: url("http://www.dundjinni.com/forums/uploads/Ravenbow/49E_BrickRound70_CG_bg-a.png");
    padding: 10px;
    position: relative;
}

.contents{
    background-color: rgb(255, 213, 0);
    width: auto;
    padding: 10px;
    border: dotted orange;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 5px rgb(255, 213, 0);
    float: right;
    top: 30px;
    right: 20px;
}

#fire{
    position: fixed;
    bottom: 0px;
}

.paragraph{
    border-left: 10px solid rgb(255, 213, 0);
    border-radius: 10px;
    padding-left: 10px;
    height: auto;
    margin: 10px;
}